.budget-div-inner {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 8px;
  height: 444px;
  padding: 30px 15px;
  @media screen and (max-width: 620px) {
    height: fit-content;
  }
  h2 {
    font-size: 24px;
    font-family: SoraSB;
    margin-bottom: 0;
  }
  p {
    color: #847777;
    font-size: 14px;
    font-family: SoraM;
  }
  a {
    color: #520a0a;
    font-size: 14px;
    text-decoration: none;
  }
}
