@import "../../variables";
@import "../../shared-styles";

.become-supplier-overlay {
  h1 {
    line-height: 60px;
    margin-bottom: 20px;
  }
  button {
    margin: 5px;
  }
  .contact-btn {
    color: #fff;
    border-radius: 40px;
    padding: 12px 28px;
    font-size: 14px;
    font-family: SoraM;
    background: transparent;
    border: none;
    text-decoration: none;
    &:hover {
      background: #e9e6e6;
      transition: 0.5s ease;
      color: #000;
    }
  }
}
.supplier-intros {
  margin-top: 70px;

  h1 {
    font-size: 60px;
  }
}
.empty-div {
  background: #e9e6e6;
  height: 650px;
  border-radius: 30px;
  margin-top: 80px;
}

.pros-container {
  margin-top: 70px;
  .pros-div {
    box-shadow: 0px 4px 22px #1412120d;
    height: 384px;
    padding: 30px;
    border-radius: 8px;
    p {
      font-family: SoraR;
    }
    h2 {
      font-size: 26px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}
.business-growth {
  margin-top: 70px;
  h1 {
    font-size: 60px;
  }

  .tabs {
    display: flex;
    border-bottom: solid 4px #e9e6e6;
    width: 100%;
    margin-top: 50px;
    font-family: rebondG-Bold;
    @media screen and (max-width: 620px) {
      width: 40%;
      margin-top: -30%;
      margin-left: 0%;
    }
  }
  @media screen and (max-width: 620px) {
    .tabs {
      button {
        margin-left: 10px;
      }
    }
  }

  .tab {
    width: 25%;
    background: transparent;
    padding: 5px 0px;
    border: none;
    color: #a69c9c;
    padding-bottom: 10px;
    font-family: SoraSB;
    // border-radius: 35px !important;
    font-size: 24px;
    @media screen and (max-width: 620px) {
      width: 100%;
    }
  }

  .panel {
    display: none;
    color: #161617;
    font-family: rebondG;
    line-height: 40px;
    padding-top: 65px;
    background: #fff;
    p {
      font-family: SoraR;
      font-size: 20px;
      margin-top: 100px;
    }
  }
  @media screen and (max-width: 620px) {
    .panel {
      padding: 0px;
    }
  }
  button.active2 {
    font-weight: bold;

    color: #141212;
    border-bottom: solid 13px $appcolor;
  }
  .panel.active2 {
    display: block;
  }
}
.getting-started {
  background: #fafafa;
  padding-top: 100px;
  padding-bottom: 100px;

  margin-top: 70px;
  h1 {
    font-size: 60px;
  }
  .starting-steps {
    img {
      margin-right: 20px;
    }
    p {
      color: #524a4a;
      font-family: SoraR;
      font-size: 16px;
      margin-bottom: 35px;
    }
  }
}
.supplier-review {
  background: #faf5f1;
  padding-top: 80px;
  padding-bottom: 80px;

  .review-heading {
    font-size: 60px;
  }
}
.blog-div {
  h1 {
    font-size: 60px;
  }
  .blog-post {
    padding: 20px;
    height: 417px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 22px #1412120d;
    border-radius: 8px;
    h5 {
      font-size: 18px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    p {
      font-family: SoraR;
      font-size: 13px;
      color: #6b6060;
    }
  }
}
.faq-div {
  background: #e9e6e639;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 70px;
  h1 {
    font-size: 60px;
  }
}
