.recommended-produc {
  p {
    font-family: SoraR;
    font-size: 14px;
  }
  h6 {
    font-family: SoraSB;
    font-size: 13px;
    margin-top: 15px;
  }
  small {
    font-family: SoraR;
    font-size: 9px;
  }
}
