.cart-list-div {
  input {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #bfbfbf;
    border-radius: 50px;
    color: #bfbfbf;
    font-family: SoraR;
    padding: 0px 30px;
    font-size: 14px;
  }
  .cart-list-container {
    border: 1px solid #d2cdcd;
    border-radius: 10px;
    padding: 0 20px;
    h6 {
      font-family: SoraM;
    }
  }
  .accordion-button:not(.collapsed) {
    background: #fff !important;
  }
  .accordion-button:focus {
    background: #fff !important;
    color: #000 !important;
    border: none !important;
  }
}
