.cart-list-div {
  input {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #bfbfbf;
    border-radius: 50px;
    color: #bfbfbf;
    font-family: SoraR;
    padding: 0px 30px;
    font-size: 14px;
  }
  .cart-list-container {
    border: 1px solid #d2cdcd;
    border-radius: 10px;
    padding: 0 20px;
    p {
      font-family: SoraR;
    }
    h6 {
      font-family: SoraM;
    }
  }
  .accordion-button {
    h5 {
      margin-left: 10px;
      margin-top: 5px;
    }
  }
  .accordion-body {
    padding: 20px 0 !important;
  }
  .accordion-button:not(.collapsed) {
    background: #fff !important;
  }
  .accordion-button:focus {
    background: #fff !important;
    color: #000 !important;
    border: none !important;
  }
  .accordion-button:focus {
    z-index: 3;
    border-color: none !important;
    outline: 0;
    box-shadow: none !important;
  }
}
.cart-items {
  img {
    margin: 0 25px;
  }
  h6 {
    font-family: SoraR;
    margin-bottom: 0;
  }
  p {
    font-family: SoraR;
    font-size: 14px;
    color: grey;
  }
}
.summary-div {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  border-radius: 5px;
  p {
    line-height: 45px;
    font-size: 14px;
    color: grey;
    span {
      color: #13b23e;
    }
  }
  h6 {
    font-family: SoraSB;
    font-size: 16px;
    margin-top: 20px;
  }
  .promo-div {
    background: #d2cdcd;
    padding: 10px;
    display: flex;
    radius;
     input {
      border: 1px solid var(--700);
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #141212;
      border-radius: 5px 0px 0px 5px;
      font-family: SoraR;
      color: grey;
      width: 100%;
      padding: 10px 25px;
    }
    button {
      background: #707070;
      border-radius: 0px 5px 5px 0px;
      color: #fff;
      font-family: SoraR;
    }
  }
}
