.cart-list-div {
  input {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #bfbfbf;
    border-radius: 50px;
    color: #bfbfbf;
    font-family: SoraR;
    padding: 2px 30px;
  }
}
