.business-detail-div-select {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 3px 6px #00000014;
  border: 1px solid #bfbfbf;
  border-radius: 10px;
  height: 62px;
  padding: 20px;
  // margin-top: 20px;
  p {
    font-family: SoraR;
  }
  img {
    margin-right: 10px;
  }
  &:hover {
    border: solid 1px #ff3c2b !important;
  }
}
.business-detail-div {
  margin-top: 50px;
  p {
    font-family: SoraR;
  }
  select {
    font-family: SoraR;
    border: none !important;
    background: #fff !important;
    width: 100% !important;
    color: #707070;
  }
}
.selected {
  border: solid 1px #ff3c2b !important;
}

.prevd-btn {
  color: #000;
  border-radius: 40px;
  padding: 10px 22px;
  font-size: 14px;
  font-family: SoraM;
  background: #fff;
  border: solid 1px #acaaa9;
  text-decoration: none;
  margin-right: 10px;
  &:hover {
    background: #e9e6e6;
  }
  @media screen and (max-width: 620px) {
    font-size: 10px;
    padding: 8px 18px;
  }
}
.final-step {
  height: 450px;
  padding-top: 200px;
  button {
    margin-top: 30px;
    font-size: 16px;
  }
}
