.more-deals-div {
  height: 230px;
  background: #fff;
  border-radius: 8px;
  position: relative;
}
.deal-amount {
  width: 77px;
  height: 51px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  position: absolute;
  bottom: 4px;
  left: 20px;
  text-align: center;
  p {
    font-size: 12px;
    color: #847777;
    font-family: SoraR;
  }
  h6 {
    color: #ee1300;
    font-size: 15px;
    font-family: SoraSB;
  }
}
