.top-part {
  height: 74px;
  background: red;
  padding-top: 15px;
  padding-left: 10px;
  a {
    color: black;
    text-decoration: none;
    font-family: SoraM;
    font-size: 14px;
    border-radius: 40px;
    padding: 13px 35px;
    height: 48px;
    &:hover {
      background: #e9e6e6;
    }
  }
}
.buy-intro {
  p {
    font-family: SoraR;
    color: #6b6060;
  }
  small {
    color: #ff3c2b;
    font-size: 12px;
    margin-bottom: 30px;
  }
}
.first-product-row {
  .area-div {
    margin: 0px 8px;
  }
}
.sec-row {
  padding-left: 60px;
  //   background: red;
}
