.top-part {
  height: 74px;
  background: red;
  padding-top: 20px;
  padding-left: 40px;
  a {
    color: black;
    text-decoration: none;
    font-family: SoraM;
    font-size: 14px;
    border-radius: 40px;
    padding: 5px 15px;
    &: {
      background: ;
    }
  }
}
