.top-categories-div {
  .deal-p {
    font-family: SoraR;
    margin-left: 10px;
  }
  .parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 50px;
    @media screen and (max-width: 620px) {
      display: none;
    }
  }
  .parent2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 14px;
    grid-row-gap: 21px;
    @media screen and (min-width: 620px) {
      display: none;
    }
  }
}
.discount-div {
  height: 606px;
  background: #1ccab8 0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding: 40px 0px;

  h3 {
    margin-bottom: 30px;
  }
  .half {
    height: 20px;
    width: 20px;
    background: #1ccab8 0% 0% no-repeat padding-box;
    border-radius: 50%;
  }
  .half-position {
    margin-top: 45%;
  }
  .half-position2 {
    margin-top: 29%;
  }
  .half1 {
    position: relative;
    z-index: 1;
    margin-right: -10px;
  }
  .half2 {
    margin-left: -10px;
  }
  .discount-inner {
    height: 210px;
    padding: 15px 20px;
    background: #ffffff 0% 0% no-repeat padding-box;

    hr {
      border: 1px dashed grey;
    }
    h1 {
      font-size: 50px;
      margin-bottom: 0;
      sub {
        font-size: 14px;
        margin-left: -20px;
      }
      sup {
        font-size: 30px;
      }
    }
    p {
      font-size: 14px;
      font-family: SoraM;
      margin-bottom: 5px;
    }
    small {
      color: #6b6060;
      font-size: 14px;
      font-family: SoraR;
    }
    .code-btn {
      height: 23px;
      width: 94px;
      background: #fdda7a 0% 0% no-repeat padding-box;
      border-radius: 20px;
      font-size: 14px;
      font-family: SoraM;
      margin-left: 7px;
      border: none;
    }
  }
}
.weekly-deals {
  height: 606px;
  background: transparent
    radial-gradient(
      closest-side at 50% 50%,
      #fff0f0 0%,
      #fdf2f0 65%,
      #faf5f1 100%
    )
    0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding: 30px 20px;
  @media screen and (max-width: 620px) {
    height: fit-content;
  }
}
.wkd {
  padding-left: 20px;
  @media screen and (max-width: 620px) {
    padding-left: 0px;
    margin-top: 50px;
  }
}
.budget-div {
  height: 1894px;
  background: #e9e6e658;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 70px;
  @media screen and (max-width: 620px) {
    height: fit-content;
  }
  button {
    margin-top: 80px;
    border: solid 1px #ff3c2b;
    border-radius: 40px;
    color: #ff3c2b;
    font-family: SoraM;
    font-size: 14px;
    padding: 10px 30px;
    &:hover {
      color: #fff;
      background: #ff3c2b;
    }
  }
}
.all-supplies-link {
  color: #524a4a;
  text-decoration: none;
  font-family: SoraM;
  font-size: 14px;
  &:hover {
    text-decoration: underline;
  }
}
.bck-link {
  a {
    color: #141212;
    font-size: 14px;
    font-family: SoraR;
    text-decoration: none;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    width: 78px;
    height: 34px;
    text-align: center;
  }
}
