.cards-div {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d8d4d4;
  border-radius: 10px;
  height: 197px;
  padding: 20px;
  p {
    font-family: SoraM;
    flex-grow: 1;
  }
  a {
    color: #ff3c2b;
    text-decoration: none;
  }
}

.total-div {
  height: 193px;
  background: #ff3c2b;
  border-radius: 10px;
  color: #fff;
  padding: 20px;
  p {
    font-family: SoraR;
    font-size: 14px;
  }
  h1 {
    font-family: SoraM;
    font-size: 50px;
  }
  button {
    background: #fff;
    padding: 3px 15px;
    border-radius: 40px;
    color: #ff3c2b;
    border: none;
    font-family: SoraM;
    font-size: 14px;
    margin-top: 30px;
  }
}
