.bredcrmb {
  padding-top: 40px;
  padding-bottom: 10px;
  a {
    margin: 2px 10px;
    color: #000;
    text-decoration: none;
    font-family: SoraR;
  }
  p {
    margin-top: 2px;
    font-family: SoraR;
  }
  hr {
    border: solid 1px #dcdcdc;
  }
}
.suppliers-store-bg {
  padding-top: 100px;
  height: 300px;
  background: black;
  color: #fff;
  img {
    border-radius: 50%;
  }
  h1 {
    font-size: 46px;
  }
  p {
    font-family: SoraR;
  }
}
