.bredcrmb {
  padding-top: 40px;
  padding-bottom: 10px;
  a {
    margin: 2px 10px;
    color: #000;
    text-decoration: none;
    font-family: SoraR;
  }
  p {
    margin-top: 2px;
    font-family: SoraR;
  }
  hr {
    border: solid 1px #dcdcdc;
  }
}
.suppliers-store-bg {
  padding-top: 140px;
  height: 300px;
  background: black;
  color: #fff;
  .supplier-logo {
    border-radius: 50%;
    margin-right: 20px;
  }
  h1 {
    font-size: 46px;
  }
  p {
    font-family: SoraR;
    font-size: 14px;
  }
}
.input-div2 {
  input {
    border: solid 1px #bfbfbf;
    border-radius: 50px;
    height: 40px;
    padding-left: 30px;
    font-family: SoraR;
    width: 100%;
  }
  p {
    font-family: SoraR;
    color: grey;
    margin-top: 10px;
    margin-left: 7px;
    font-size: 14px;
  }
}
.category-selection {
  ul li {
    line-height: 35px;
    font-family: SoraR;
    cursor: pointer;
  }
}
.prd-active {
  color: #ff3c2b;
  font-family: SoraM;
}
.deals-div {
  height: 294px;
  padding: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000001c;
  border-radius: 8px;
  @media screen and (max-width: 620px) {
    height: fit-content;
  }
  h6 {
    font-family: SoraSB;
    font-size: 15px;
    margin-top: 7px;
    margin-bottom: 0;
  }
  small {
    font-size: 9px;
    font-family: SoraR;
    color: #847777;
    span {
      font-size: 13px;
      color: #ee1300;
      font-family: SoraSB;
    }
    .discount {
      font-size: 12px;
      color: #a69c9c;
      text-decoration: line-through;
    }
  }
  p {
    font-size: 9px;
    text-decoration: underline;
  }
}
.badge-holder2 {
  position: relative;
  .badge {
    position: absolute;
    height: 0;
    width: 51px;
    right: 0px;
    background: transparent !important;

    font-size: 14px;
    padding-top: 12px;
  }
}
