.bredcrmb {
  padding-top: 40px;
  padding-bottom: 10px;
  a {
    margin: 2px 10px;
    color: #000;
    text-decoration: none;
    font-family: SoraR;
  }
  p {
    margin-top: 2px;
    font-family: SoraR;
  }
  hr {
    border: solid 1px red;
  }
}
