@import "../../variables";
@import "../../shared-styles";

.footer-div {
  height: 600px;
  background: #000;
  color: #fff;
  margin-top: -120px;
  padding-top: 200px;
  @media screen and (max-width: 620px) {
    // margin-top: 0;
  }
}
.contact-div {
  background: url("../../assets/images/contact-bg-svg");
}
