@import "../../variables";
@import "../../shared-styles";

.footer-div {
  // height: 600px;
  background: #000;
  color: #fff;
  margin-top: -120px;
  padding-top: 200px;
  p {
    font-family: SoraR;
  }
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  li {
    font-size: 14px;
    font-family: SoraM;
    line-height: 35px;
  }
  h4 {
    margin-bottom: 20px;
    @media screen and (max-width: 620px) {
      font-size: 17px;
    }
  }
  @media screen and (max-width: 620px) {
    p {
      font-size: 12px;
    }
    h4 {
      font-size: 14px;
    }
  }
  .contact-div {
    background: url("../../assets/images/contact-bg.png");
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 80px;
    &:hover {
      img {
        margin-left: 30px;
        transition: 0.5s ease;
      }
    }
  }
  .footer-logo {
    p {
      margin-top: 30px;
    }
  }
  .media-links {
    margin-top: 60px;

    padding-bottom: 30px;
    img {
      margin-right: 25px;
    }
  }
  hr {
    padding-bottom: 30px;
  }
  .areas-list {
    padding-bottom: 40px;
    li {
      padding-right: 45px;
      border-right: solid 1px #fff;
    }
  }
}
