.business-detail-div-select {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 3px 6px #00000014;
  border: 1px solid #bfbfbf;
  border-radius: 10px;
  height: 62px;
  padding: 20px;
  margin-top: 20px;
  p {
    font-family: SoraR;
  }
  img {
    margin-right: 10px;
  }
}
.business-detail-div {
  margin-top: 50px;
  p {
    font-family: SoraR;
  }
}
