.business-detail-div-select {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 3px 6px #00000014;
  border: 1px solid #bfbfbf;
  border-radius: 10px;
  height: 62px;
  p {
    font-family: Sora;
  }
}
