.transaction-page {
  background: #fff;
  // margin-top: 8rem;
}

.tabs {
  display: flex;
}
@media screen and (max-width: 620px) {
  .tabs {
    /* display: grid; */
    flex-direction: column-reverse;
  }
  .transaction-page .search {
    margin-left: auto;
  }
}
.tab {
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #fff;
  padding: 1em 0;
  border: none;
  border-bottom: solid 1px rgb(70, 66, 66);
  color: #969393;
  margin-bottom: 20px;
  font-family: SoraM;
}

.tab.active2 {
  border-bottom: solid 5px #ff3c2b;
  font-weight: bold;
  font-family: SoraM;
  border-radius: 2px;
}
.transaction-page .panel {
  display: none;
  background: rgb(11, 2, 48) !important;
  padding: 100px 80px 200px 80px;
  color: #fff;
}
@media screen and (max-width: 620px) {
  .panel {
    padding: 0px;
  }
  .panels {
    width: 100%;
  }
  .transaction-page {
    margin-top: 0rem;
  }
}
.panel.active2 {
  display: block;
}
