.transaction-page {
  background: #fff;
  // margin-top: 8rem;
}

.tabs {
  display: flex;
  width: 100%;
  margin: 0;
}
@media screen and (max-width: 620px) {
  .tabs {
    /* display: grid; */
    flex-direction: column-reverse;
  }
  .transaction-page .search {
    margin-left: auto;
  }
}
.tab {
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #fff;
  padding: 1em 0;
  border: none;
  border-bottom: solid 1px #e8e5e5;
  color: #969393;
  margin-bottom: 20px;
  font-family: SoraM;
}

.tab.active2 {
  border-bottom: solid 5px #ff3c2b;
  font-weight: bold;
  font-family: SoraM;
  border-radius: 1px;
  color: #141212;
}
.transaction-page .panel {
  display: none;
  background: #fff;
  padding: 20px 20px 20px 20px;
  color: #000;
  border: solid 1px #e8e5e5;
  border-radius: 10px;
}
@media screen and (max-width: 620px) {
  .panel {
    padding: 0px;
  }
  .panels {
    width: 100%;
  }
}
.panel.active2 {
  display: block;
}
