.google-button {
  border: solid 1px #e7e7e7 !important;
  background: #fff !important;
  font-size: 16px;
  font-family: SoraM;
  width: 100%;
  border-radius: 35px;
  padding: 10px 0;
  margin-bottom: 20px;
  img {
    margin-right: 10px;
  }
}
