@import "../../variables";
@import "../../shared-styles";

.top-nav-container {
  border-bottom: solid 1px #e9e6e645;
  .logo-div {
    flex-grow: 1;
  }
  .nav-actions {
    a {
      //   color: #fff;
      text-decoration: none;
      font-family: SoraSB;
      font-size: 14px;
      &:hover {
        color: $appcolor !important;
        text-decoration: underline;
      }
      @media screen and (max-width: 620px) {
        font-size: 12px;
      }
    }
  }
  .nav-pages {
    a {
      //   color: #fff;
      text-decoration: none;
      font-family: SoraM;
      font-size: 14px;
      &:hover {
        color: $appcolor !important;
        text-decoration: underline;
      }
    }
  }

  ul li {
    margin-left: 30px;
  }
}
