@import "../../variables";
@import "../../shared-styles";

.top-nav-container {
  .logo-div {
    flex-grow: 1;
  }
  .nav-actions {
    a {
      color: #fff;
      text-decoration: none;
      font-family: SoraSB;
      font-size: 14px;
      &:hover {
        color: $appcolor;
        text-decoration: underline;
      }
    }
  }
  .nav-pages {
    a {
      color: #fff;
      text-decoration: none;
      font-family: SoraM;
      font-size: 14px;
      &:hover {
        color: $appcolor;
        text-decoration: underline;
      }
    }
  }

  ul li {
    margin-left: 30px;
  }
}
