@import "../../variables";
@import "../../shared-styles";

.top-nav-container {
  .logo-div {
    flex-grow: 1;
  }
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: $appcolor;
      text-decoration: underline;
    }
  }
  ul li {
    margin-left: 30px;
  }
}
