$appcolor: #ff3c2b;

@mixin app-btn {
  color: #fff;
  border-radius: 40px;
  padding: 12px 28px;
  font-size: 14px;
  font-family: SoraM;
  background: $appcolor;
  border: none;

  &:hover {
    background: #30266b;
    transition: 0.5s ease;
  }
  @media screen and (max-width: 620px) {
    font-size: 10px;
    padding: 8px 18px;
  }
}
