@font-face {
  font-family: SoraM;
  src: url(./assets/fonts/sora/Sora-Medium.ttf);
}
@font-face {
  font-family: SoraB;
  src: url(./assets/fonts/sora/Sora-Bold.ttf);
}
@font-face {
  font-family: SoraEB;
  src: url(./assets/fonts/sora/Sora-ExtraBold.ttf);
}
@font-face {
  font-family: SoraR;
  src: url(./assets/fonts/sora/Sora-Regular.ttf);
}
@font-face {
  font-family: SoraR;
  src: url(./assets/fonts/sora/Sora-Regular.ttf);
}
