@font-face {
  font-family: SoraM;
  src: url(./assets/fonts/sora/Sora-Medium.ttf);
}
@font-face {
  font-family: SoraB;
  src: url(./assets/fonts/sora/Sora-Bold.ttf);
}
@font-face {
  font-family: SoraBB;
  src: url(./assets/fonts/sora/Sora-Bold.ttf);
}
