@font-face {
  font-family: SoraM;
  src: url(./assets/fonts/sora/Sora-Medium.ttf);
}
@font-face {
  font-family: SoraB;
  src: url(./assets/fonts/sora/Sora-Bold.ttf);
}
@font-face {
  font-family: SoraEB;
  src: url(./assets/fonts/sora/Sora-ExtraBold.ttf);
}
@font-face {
  font-family: SoraR;
  src: url(./assets/fonts/sora/Sora-Regular.ttf);
}
@font-face {
  font-family: SoraSB;
  src: url(./assets/fonts/sora/Sora-SemiBold.ttf);
}
@font-face {
  font-family: SoraL;
  src: url(./assets/fonts/sora/Sora-Light.ttf);
}
@font-face {
  font-family: SerifR;
  src: url(./assets/fonts/serif/DMSerifDisplay-Regular.ttf);
}
@font-face {
  font-family: SerifI;
  src: url(./assets/fonts/serif/DMSerifDisplay-Italic.ttf);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: SerifR;
}
.pending {
  background-color: #fcf9ea;
  color: #d8910b;
}
.cancelled {
  background-color: #fff5f4;
  color: #ff3c2b;
}
.awaiting {
  background-color: #fff6f2;
  color: #ec7536;
}
.responded {
  background-color: #f2f6fc;
  color: #2f77d9;
}
