.upload__image-wrapper {
  button {
    border: none;
    background: #fff;
    font-family: SoraR;
    font-size: 13px;
    span {
      color: red;
    }
  }
  p {
    font-family: SoraR;
    color: grey;
  }
}
