.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0px 3px 6px #00000014;
  border-radius: 10px;
  border: solid 1px #bfbfbf !important;
  height: 62px;
  margin-top: 20px;
}
.ReactSelectFlags-module_container__SFuNT
  .ReactSelectFlags-module_selectWrapper__I7wcI
  .ReactSelectFlags-module_searchSelect__O6Fp2,
.ReactSelectFlags-module_container__SFuNT
  .ReactSelectFlags-module_selectWrapper__I7wcI
  .ReactSelectFlags-module_buttonSelect__CxH4w {
  box-sizing: border-box;
  font-family: SoraR;
  padding: 2px 45px 2px 10px;
  color: #707070;
  margin-top: 20px;
  border: none !important;
}
