.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ReactSelectFlags-module_container__SFuNT
  .ReactSelectFlags-module_selectWrapper__I7wcI
  .ReactSelectFlags-module_searchSelect__O6Fp2,
.ReactSelectFlags-module_container__SFuNT
  .ReactSelectFlags-module_selectWrapper__I7wcI
  .ReactSelectFlags-module_buttonSelect__CxH4w {
  color: #191919;

  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 10px;
  height: fit-content;
  margin-top: 20px;
  border: solid 1px #bfbfbf;
  background: #fff;
  font-family: SoraR;
  box-shadow: inset 0px 3px 6px #00000014;
}
