@import "../../variables";
@import "../../shared-styles";

.featured-stories-div {
  background: url("../../assets/images/storybg.png");
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 40px;
  margin-top: -100px;
  h6 {
    color: $appcolor;
    margin-bottom: 50px;
    margin-top: 80px;
  }
  h1 {
    font-size: 70px;
    line-height: 65px;
  }
}
