@import "../../variables";
@import "../../shared-styles";

.featured-stories-div {
  background: url("../../assets/images/storybg.png");
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 40px;
  margin-top: -100px;
  position: relative;
  z-index: -1;
  h6 {
    color: #b30e00;
    margin-bottom: 20px;
    margin-top: 120px;
  }
  h1 {
    font-size: 70px;
    line-height: 75px;
  }
}
.category-section {
  .check-options {
    border-right: solid 1px rgb(222, 218, 218);
    background: #fff;
  }

  h6 {
    font-size: 20px;
    font-family: SoraM;
    margin-bottom: 40px;
  }
  .cat-label {
    font-size: 16px;
    font-family: SoraR;
    color: #141212;
    margin-left: 20px;
  }
  hr {
    border: solid 1px rgb(222, 218, 218) !important;
    // width: 70%;
  }
  input {
    background: red 0% 0% no-repeat padding-box;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    width: 27px;
    height: 27px;
    // margin-top: 20px !important;
  }
  .catt-div {
    padding-left: 40px;
  }
}
.category-component {
  padding: 20px;
  background: #fff;
  box-shadow: 0px 4px 22px #1412120d;
  border-radius: 8px;
  height: 447px;
  small {
    font-size: 12px;
    color: #6b6060;
    font-family: SoraR;
  }
  p {
    color: #141212;
    font-family: SoraR;
    font-size: 16px;
    margin-top: 20px;
  }
}
