@import "../../variables";
@import "../../shared-styles";
//this is for navbar

.home-banners {
  width: 100%;
  height: 1000px;

  @media screen and (max-width: 620px) {
    height: 300px;
  }
}

.image-container {
  @media screen and (max-width: 620px) {
    height: fit-content;
    // background-color: $deepblue;
    margin-bottom: 0px;
  }
  .viddeo {
    @media screen and (max-width: 620px) {
      height: 800px;
      transform: translateX(0%) translateY(0%);
      object-fit: cover;
    }
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 1;
  color: white;
  font-size: 20px;
  padding-top: 20px;
  height: 100%;
}
.cover {
  position: relative;
}
