@import "../../variables";
@import "../../shared-styles";

.overlay {
  position: absolute;
  bottom: 0;
  background: transparent linear-gradient(255deg, #ffffff00 0%, #000000d3 100%)
    0% 0% no-repeat; /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  opacity: 1;
  color: white;

  padding-top: 10px;
  height: 100%;
  h1 {
    font-size: 60px;
    line-height: 80px;
  }
  input {
    border-radius: 50px;
    height: 72px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #00000014;
    border: 1px solid #bfbfbf;
    width: 100%;
    padding-left: 40px;
    font-family: SoraR;
  }
}
.cover {
  position: relative;
  //   height: 100%;
}
.vid {
  display: block;
  width: 100%;
  height: auto;
}
.input-div {
  position: relative;
  height: 72px;
}
.input-overlay {
  position: absolute !important;
  margin-top: -60px;
}
.popular-searches {
  button {
    background: transparent;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 30px;
    padding: 5px 30px;
    margin-left: 10px;
    font-family: SoraM;
    &:hover {
      background: #ffffff4d 0% 0% no-repeat padding-box;
    }
  }
  h6 {
    margin-top: 5px;
  }
}
.brands {
  p {
    font-family: SoraR;
    color: #b1a8a8;
  }
  .benefits {
    height: 384px;
    border-radius: 8px;
    padding: 50px 30px 0 30px;
    img {
      margin-bottom: 40px;
    }
    h3 {
      font-size: 26px;
    }
    p {
      font-family: SoraR;
      font-size: 16px;
      margin-top: 15px;
      color: #141212;
    }
  }
  .b-1 {
    border: solid 1px #fc8579;
    background: #fff5f4;
  }
  .b-2 {
    border: solid 1px #6bf878;
    background: #f4fff5;
  }
  .b-3 {
    border: solid 1px #5e96f8;
    background: #f4f8ff;
  }
  .b-4 {
    border: solid 1px #f192fa;
    background: #fef4ff;
  }
}
.products {
  h1 {
    font-size: 60px;
    color: #590700;
    margin-bottom: 40px;
  }
  p {
    font-family: SoraM;
    margin-bottom: 30px;
  }
}
.top-products {
  background: #faf5f0;
  padding-top: 80px;
  padding-bottom: 80px;
  h1 {
    font-size: 60px;
    color: #141212;
  }
}
