@import "../../variables";
@import "../../shared-styles";
//this is for navbar

.home-banners {
  width: 100%;
  height: 1000px;

  @media screen and (max-width: 620px) {
    height: 300px;
  }
}

.image-container {
  @media screen and (max-width: 620px) {
    height: fit-content;
    // background-color: $deepblue;
    margin-bottom: 0px;
  }
  .viddeo {
    @media screen and (max-width: 620px) {
      height: 800px;
      transform: translateX(0%) translateY(0%);
      object-fit: cover;
    }
  }
}
.logo-div2 {
  margin-top: -70px !important;
  // margin-left: 5%;
}
#outer {
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  @media screen and (max-width: 620px) {
    height: fit-content;
    padding: 0 !important;

    margin-bottom: 0px;
  }
  .viddeo {
    @media screen and (max-width: 620px) {
      height: 1000px;
      transform: translateX(0%) translateY(0%);
      object-fit: cover;
    }
  }
  img {
    margin-top: 0 !important;
  }

  .first-heading {
    @media screen and (max-width: 620px) {
      margin-left: 0 !important;
      margin-right: 10px;
      padding: 0 !important;
      width: 100%;
    }
    h1 {
      font-size: 2.3rem !important;
      letter-spacing: 0.58px !important;
      line-height: 40px !important;
    }
  }
}
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 1;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
