@import "../../variables";
@import "../../shared-styles";

.overlay {
  position: absolute;
  bottom: 0;
  background: transparent linear-gradient(255deg, #ffffff00 0%, #000000d3 100%)
    0% 0% no-repeat; /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  opacity: 1;
  color: white;

  padding-top: 15px;
  height: 100%;
  h1 {
    font-size: 60px;
    line-height: 80px;
  }
  input {
    border-radius: 50px;
    height: 72px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #00000014;
    border: 1px solid #bfbfbf;
    width: 100%;
  }
}
.cover {
  position: relative;
  //   height: 100%;
}
.vid {
  display: block;
  width: 100%;
  height: auto;
}
.input-div {
  position: relative;
}
