@import "../../variables";
@import "../../shared-styles";

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;

  opacity: 1;
  color: white;
  font-size: 20px;
  padding-top: 20px;
  height: 100%;
}
.cover {
  position: relative;
  height: 100%;
}
.vid {
  display: block;
  width: 100%;
  height: auto;
}
