@import "../../variables";
@import "../../shared-styles";

.overlay {
  position: absolute;
  bottom: 0;
  background: transparent linear-gradient(255deg, #ffffff00 0%, #000000d3 100%)
    0% 0% no-repeat; /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  opacity: 1;
  color: white;
  top: 0;
  padding-top: 10px;
  height: 112%;
  @media screen and (max-width: 620px) {
    height: 650px;
    transform: translateX(0%) translateY(0%);
    top: 0;
  }
  h1 {
    font-size: 60px;
    line-height: 80px;
    @media screen and (max-width: 620px) {
      font-size: 35px;
      line-height: 40px;
    }
  }
  input {
    border-radius: 50px;
    height: 72px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #00000014;
    border: 1px solid #bfbfbf;
    width: 100%;
    padding-left: 40px;
    font-family: SoraR;
  }
}
.cover {
  position: relative;
  //   height: 100%;
}
.vid {
  display: block;
  width: 100%;
  height: auto;
  @media screen and (max-width: 620px) {
    height: 650px;
    transform: translateX(0%) translateY(0%);
    object-fit: cover;
  }
}
.input-div {
  position: relative;
  height: 72px;
}
.input-overlay {
  position: absolute !important;
  margin-top: -60px;
}
.popular-searches {
  button {
    background: transparent;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 30px;
    padding: 5px 30px;
    margin-left: 10px;
    font-family: SoraM;
    &:hover {
      background: #ffffff4d 0% 0% no-repeat padding-box;
    }
    @media screen and (max-width: 620px) {
      border-radius: 20px;
      padding: 3px 20px;
      margin-left: 5px;
      font-size: 10px;
    }
  }
  h6 {
    margin-top: 5px;
  }
}
.brands {
  margin-top: 100px;
  @media screen and (max-width: 620px) {
    margin-top: 40px;
  }
  p {
    font-family: SoraR;
    color: #b1a8a8;
  }
  .benefits {
    height: 384px;
    border-radius: 8px;
    padding: 50px 30px 0 30px;
    @media screen and (max-width: 620px) {
      padding: 30px 10px 0 10px;
      height: 280px;
    }
    img {
      margin-bottom: 40px;
      @media screen and (max-width: 620px) {
        margin-bottom: 10px;
      }
    }
    h3 {
      font-size: 26px;
      @media screen and (max-width: 620px) {
        font-size: 16px;
      }
    }
    p {
      font-family: SoraR;
      font-size: 16px;
      margin-top: 15px;
      color: #141212;
      @media screen and (max-width: 620px) {
        font-size: 13px;
      }
    }
  }
  .b-1 {
    border: solid 1px #fc8579;
    background: #fff5f4;
  }
  .b-2 {
    border: solid 1px #6bf878;
    background: #f4fff5;
  }
  .b-3 {
    border: solid 1px #5e96f8;
    background: #f4f8ff;
  }
  .b-4 {
    border: solid 1px #f192fa;
    background: #fef4ff;
  }
}
.products {
  margin-top: 250px;
  h1 {
    font-size: 60px;
    color: #590700;
    margin-bottom: 40px;
    @media screen and (max-width: 620px) {
      font-size: 40px;
    }
  }
  p {
    font-family: SoraM;
    margin-bottom: 30px;
  }
}
.top-products {
  background: #faf5f0;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 90px;
  h1 {
    font-size: 60px;
    color: #141212;
    margin-bottom: 70px;
    @media screen and (max-width: 620px) {
      font-size: 30px;
    }
  }
}
.areas-div {
  .areas {
    border: 4px solid #efecec;
    height: 149px;
    width: 149px;
    background: #fff;
    border-radius: 50%;
    padding: 30px;
    margin-bottom: 10px;
    p {
      font-size: 12px;
    }
    &:hover {
      border: solid 4px #f29d95;
    }
  }
  .area1 {
    margin-top: 40px;
  }
  .area2 {
    margin-left: 30px;
  }
  .area3 {
    margin-left: 30px;
  }
  .area4 {
    margin-left: -60px;
    margin-top: -90px;
    margin-bottom: 30px;
  }
  .area5 {
    margin-bottom: 30px;
  }
  .area6 {
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .area7 {
    margin-left: 10px;
    margin-bottom: 30px;
  }
  .area7 {
    margin-left: 10px;
    margin-bottom: 30px;
  }
}
