@import "../../variables";
@import "../../shared-styles";
//this is for navbar

.home-banners {
  width: 100%;
  height: 1000px;

  @media screen and (max-width: 620px) {
    height: 300px;
  }
}

.image-container {
  @media screen and (max-width: 620px) {
    height: fit-content;
    // background-color: $deepblue;
    margin-bottom: 0px;
  }
  .viddeo {
    @media screen and (max-width: 620px) {
      height: 800px;
      transform: translateX(0%) translateY(0%);
      object-fit: cover;
    }
  }
}
.logo-div {
  margin-top: -70px !important;
  // margin-left: 5%;
}
#outer {
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 120vh;
  @media screen and (max-width: 620px) {
    height: fit-content;
    padding: 0 !important;

    margin-bottom: 0px;
  }
  .viddeo {
    @media screen and (max-width: 620px) {
      height: 1000px;
      transform: translateX(0%) translateY(0%);
      object-fit: cover;
    }
  }
  img {
    margin-top: 0 !important;
  }
  button {
    background: inherit;
    color: #fff;
    // border: solid 2px $yellow;
    padding: 10px 50px;
    margin-top: 10px;
    &:hover {
      //   background: $deepblue !important;
    }
    @media screen and (max-width: 620px) {
      // margin-left: 20% !important;
    }
  }
  .first-heading {
    @media screen and (max-width: 620px) {
      margin-left: 0 !important;
      margin-right: 10px;
      padding: 0 !important;
      width: 100%;
    }
    h1 {
      // font-family: essonse-bold;
      font-family: essones-d-regular;
      font-size: 2.3rem !important;
      letter-spacing: 0.58px !important;
      line-height: 40px !important;
    }
  }
}

#home-top-video:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-image: linear-gradient(90deg, #004f9d 35%, rgba(0, 7, 13, 0) 100%);
  opacity: 0.9;
}

#home-top-video {
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#home-text {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center !important;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
}
