@import "../../variables";
@import "../../shared-styles";

.nav-displayer {
  background: transparent linear-gradient(180deg, #141212 0%, #14121200 100%) 0%
    0% no-repeat padding-box;
}
.stories-div {
  p {
    font-family: SoraR;
    margin-bottom: 30px;
  }
  .description {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 22px #1412120d;
    border-radius: 8px;
    padding: 20px;
  }
  strong {
    color: $appcolor;
    font-size: 20px;
    font-family: SoraM;
  }
  h5 {
    font-family: SoraM;
    margin-bottom: 15px;
  }
  h4 {
    margin-bottom: 25px;
    font-size: 18px;
  }
  small {
    color: #6b6060;
    font-family: SoraR;
    margin-top: 20px;
  }
  h6 {
    font-family: SoraM;
    margin-top: 20px;
    font-size: 16px;
  }
}
