.password-input {
  img {
    margin-left: -35px;
    @media screen and (max-width: 620px) {
      margin-left: -18px;
    }
  }
}
.formpassword {
  width: 100%;
  position: relative;
  height: fit-content;
  overflow: hidden;
}

.formpassword input {
  width: 100%;
  color: #191919;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 10px;

  height: 62px;
  margin-top: 30px;
  border: solid 1px #bfbfbf;
  background: #fff;
  font-family: SoraR;
  box-shadow: inset 0px 3px 6px #00000014;
}
.formpassword label {
  position: absolute;
  bottom: 4px;
  left: 20px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: SoraR;
  color: #141212;
  pointer-events: none;
}
.formpassword label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.formpassword input:focus {
  outline: none;
}
.formpassword input:focus + .label-name .content-name,
.formpassword input:valid + .label-name .content-name {
  transform: translateY(-100%);
  font-size: 8px;
  left: 0px;
  color: black;
}
.formpassword input:focus + .label-name::after,
.formpassword input:valid + .label-name::after {
  transform: translateX(0%);
}
