.transactions-table-container {
  background: #fff;
  border-radius: 20px;

  padding-top: 20px;
  padding-bottom: 60px;
  overflow-x: auto;
}
.transactions-table-container td {
  font-family: KB-sans-Regular;
  padding: 12px 0 12px 40px !important;
  color: #fff;
  position: relative;
}
/* .transactions-table-container table {
  width: 300px !important;
} */

.transactions-table-container h5 {
  margin-bottom: 40px;
  color: #fff !important;
  margin-left: 30px;
  flex-grow: 1;
}
@media screen and (max-width: 620px) {
}

.table-title a {
  color: #215995;
  font-family: SoraR;
  text-decoration: none;
}
/* .table-title a :hover {
  color: #282541 !important;
} */

@media screen and (max-width: 620px) {
  // .transactions-table-container {
  //   width: 90vw;
  //   margin-left: -4.5rem !important;
  // }
}
