.transactions-table-container {
  background: #fff;
  border-radius: 20px;

  padding-top: 20px;
  padding-bottom: 60px;
  h3 {
    font-size: 12px;
    color: #969393;
    font-family: SoraR;
  }
  h2 {
    font-size: 18px;

    font-family: SoraM;
  }
  p {
    font-size: 12px;
    font-family: SoraR;
  }
  a {
    color: #215995;
    font-family: SoraR;
    text-decoration: none;
    font-size: 12px;
  }
  button {
    border: none;
    font-size: 12px;
    padding: 7px 25px;
    margin-left: 30px;
    border-radius: 70px;
    font-family: SoraR;
  }
  .completed {
    background: #edf8f0;
    color: #13b23e;
  }
  .pending {
    background: #fcf9ea;
    color: #d8910b;
  }
  .cancelled {
    background: #fff5f4;
    color: #ff3c2b;
  }
  .awaiting {
    background: #fff6f2;
    color: #ec7536;
  }
  .responded {
    background: #f2f6fc;
    color: #2f77d9;
  }
}
.displayed-orders {
  p,
  small {
    font-family: SoraR;
  }
  small {
    font-size: 12px;
    color: #413e3e;
  }
  .order-details {
    padding-left: 15px;
  }
  .price {
    font-size:14px;
    span{
      color:#707070
      font-size:13px
    }
  }
}
