.transactions-table-container {
  background: #1c1a2e;
  border-radius: 20px;
  box-shadow: 1px 1px 2px 3px rgba(16, 19, 63, 0.75);
  -webkit-box-shadow: 1px 1px 2px 3px rgba(16, 19, 63, 0.75);
  -moz-box-shadow: 1px 1px 2px 3px rgba(16, 19, 63, 0.75);
  padding-top: 20px;
  padding-bottom: 60px;
  overflow-x: auto;
}
.transactions-table-container td {
  font-family: KB-sans-Regular;
  padding: 12px 0 12px 40px !important;
  color: #fff;
  position: relative;
}
/* .transactions-table-container table {
  width: 300px !important;
} */

.transactions-table-container tr:hover {
  /* background-color: #282541; */
  background-color: #38364d;
}
.transactions-table-container th {
  font-family: KB-sans-Bold;
  color: #fff !important;
  background-color: #282541;
  padding: 20px 0 20px 40px;
  text-align: left !important;
}
.transactions-table-container h5 {
  margin-bottom: 40px;
  font-family: AgrandirBold;
  color: #fff !important;
  margin-left: 30px;
  flex-grow: 1;
}
@media screen and (max-width: 620px) {
  .transactions-table-container h5 {
    margin-right: 100px;
  }
  .table-title {
    padding-right: 0px !important;
  }
}
.table-title {
  display: flex;
  padding-right: 30px;
}
.table-title a {
  color: #329521;
  font-family: KB-sans-Regular;
  font-weight: bold;
  text-decoration: none;
  margin-left: 50px;
}
/* .table-title a :hover {
  color: #282541 !important;
} */
.transaction-table-container {
  margin-left: 33px;
}
@media screen and (max-width: 620px) {
  .transactions-table-container {
    width: 90vw;
    margin-left: -4.5rem !important;
  }
}
.invoice-td {
  cursor: pointer;
  color: #0eb500 !important;
  font-weight: bold;
}
