.transactions-table-container {
  background: #fff;
  border-radius: 20px;

  padding-top: 20px;
  padding-bottom: 60px;
  h3 {
    font-size: 12px;
    color: #969393;
    font-family: SoraR;
  }
  h2 {
    font-size: 18px;

    font-family: SoraM;
  }
  p {
    font-size: 12px;
    font-family: SoraR;
  }
  a {
    color: #215995;
    font-family: SoraR;
    text-decoration: none;
    font-size: 12px;
  }
  button {
    border: none;
    font-size: 12px;
    padding: 5px 15px;
    border-radius: ;
  }
}
