.transactions-table-container {
  background: #fff;
  border-radius: 20px;

  padding-top: 20px;
  padding-bottom: 60px;
  h3 {
    font-size: 12px;
    color: #969393;
    font-family: SoraR;
  }
  h3 {
    font-size: 12px;
    color: #969393;
    font-family: SoraR;
  }
  p {
    font-family: SoraR;
  }
}

.table-title a {
  color: #215995;
  font-family: SoraR;
  text-decoration: none;
}
