.transactions-table-container {
  background: #fff;
  border-radius: 20px;

  padding-top: 20px;
  padding-bottom: 60px;
}

.table-title a {
  color: #215995;
  font-family: SoraR;
  text-decoration: none;
}
