.budget-div-inner {
  h2 {
    font-size: 24px;
    font-family: SoraSB;
  }
  p {
    color: #847777;
    font-size: 14px;
    font-family: SoraM;
  }
  a {
    color: #524a4a;
    font-size: 14px;
    text-decoration: none;
  }
}
