.mt1 {
  margin-top: 10px;
}

.mt2 {
  margin-top: 20px;
}

.mt3 {
  margin-top: 30px;
}

.mt4 {
  margin-top: 40px;
}

.mt5 {
  margin-top: 50px;
}

.mt6 {
  margin-top: 60px;
}

.mt7 {
  margin-top: 70px;
}

.mt8 {
  margin-top: 80px;
}

.mt9 {
  margin-top: 90px;
}

.mt {
  margin-top: 140px;
}

.mtt {
  margin-top: 200px;
}

.bb {
  border-bottom: solid 1px #e9e5e5;
}

.bt {
  border-top: solid 1px #e9e5e5;
}

.pd {
  padding: 80px 0;
}

.br {
  border-right: solid 1px #e9e5e5;
}

@media screen and (max-width: 620px) {
  .no-m {
    margin: 0 !important;
  }
}

.ml {
  margin-left: 10px;
}

.ml2 {
  margin-left: 20px;
}

.ml3 {
  margin-left: 30px;
}

.mb5 {
  margin-bottom: 50px;
}

.mb4 {
  margin-bottom: 40px;
}

@media screen and (max-width: 620px) {
  .no-margin {
    margin-top: 0px !important;
    text-align: center;
  }
}

@media screen and (max-width: 620px) {
  .dn {
    display: none;
  }
}

@media screen and (min-width: 620px) {
  .dnW {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .dnM {
    display: none;
  }
}

.img-resolv {
  width: 90%;
}

@media screen and (max-width: 620px) {
  .img-resolv {
    width: 100%;
  }
}

.app-btn {
  color: #fff;
  border-radius: 40px;
  padding: 10px 22px;
  font-size: 14px;
  font-family: SoraM;
  background: #ff3c2b;
  border: none;
  text-decoration: none;
}

.app-btn:hover {
  background: #ee1300;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  color: #fff !important;
}

@media screen and (max-width: 620px) {
  .app-btn {
    font-size: 10px;
    padding: 8px 18px;
  }
}

@media screen and (min-width: 620px) {
  .flexy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 620px) {
  .flexyM {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 620px) {
  .mobile-padding {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 620px) {
  div {
    overflow: hidden;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  background: transparent linear-gradient(255deg, #ffffff00 0%, #000000d3 100%) 0% 0% no-repeat;
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  opacity: 1;
  color: white;
  top: 0;
  padding-top: 10px;
  height: 112%;
}

@media screen and (max-width: 620px) {
  .overlay {
    height: 650px;
    -webkit-transform: translateX(0%) translateY(0%);
            transform: translateX(0%) translateY(0%);
    top: 0;
  }
}

.overlay h1 {
  font-size: 60px;
  line-height: 80px;
}

@media screen and (max-width: 620px) {
  .overlay h1 {
    font-size: 30px;
    line-height: 40px;
  }
}

.overlay input {
  border-radius: 50px;
  height: 72px;
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: inset 0px 3px 6px #00000014;
          box-shadow: inset 0px 3px 6px #00000014;
  border: 1px solid #bfbfbf;
  width: 100%;
  padding-left: 80px;
  font-family: SoraR;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 620px) {
  .overlay input {
    font-size: 10px;
    padding-left: 30px;
    padding-right: 0px !important;
    height: 45px;
  }
}

.sign-up {
  margin-top: 10px;
  margin-left: 10px;
}

.sign-up2 {
  margin-top: 20px;
  margin-left: 10px;
}

.cover {
  position: relative;
}

.vid {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 620px) {
  .vid {
    height: 650px;
    -webkit-transform: translateX(0%) translateY(0%);
            transform: translateX(0%) translateY(0%);
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.input-div {
  position: relative;
  height: 72px;
}

.input-overlay {
  margin-top: -67px;
}

@media screen and (max-width: 620px) {
  .input-overlay .input-actions {
    margin: 35px 5px 5px 5px;
  }
}

.input-overlay .input-search {
  margin: 20px 0 0 50px;
}

@media screen and (max-width: 620px) {
  .input-overlay .input-search {
    margin: 25px 0 0 5px;
  }
}

.popular-searches button {
  background: transparent;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 30px;
  padding: 5px 30px;
  margin-left: 10px;
  font-family: SoraM;
}

.popular-searches button:hover {
  background: #ffffff4d 0% 0% no-repeat padding-box;
}

@media screen and (max-width: 620px) {
  .popular-searches button {
    border-radius: 20px;
    padding: 3px 20px;
    margin-left: 5px;
    font-size: 10px;
  }
}

.popular-searches h6 {
  margin-top: 5px;
}

.brands {
  margin-top: 100px;
}

@media screen and (max-width: 620px) {
  .brands {
    margin-top: 40px;
  }
}

.brands p {
  font-family: SoraR;
  color: #b1a8a8;
}

.brands .benefits {
  height: 384px;
  border-radius: 8px;
  padding: 50px 30px 0 30px;
}

@media screen and (max-width: 620px) {
  .brands .benefits {
    padding: 30px 10px 0 10px;
    height: 280px;
  }
}

.brands .benefits img {
  margin-bottom: 40px;
}

@media screen and (max-width: 620px) {
  .brands .benefits img {
    margin-bottom: 10px;
  }
}

.brands .benefits h3 {
  font-size: 26px;
}

@media screen and (max-width: 620px) {
  .brands .benefits h3 {
    font-size: 16px;
  }
}

.brands .benefits p {
  font-family: SoraR;
  font-size: 16px;
  margin-top: 15px;
  color: #141212;
}

@media screen and (max-width: 620px) {
  .brands .benefits p {
    font-size: 13px;
  }
}

.brands .b-1 {
  border: solid 1px #fc8579;
  background: #fff5f4;
}

.brands .b-2 {
  border: solid 1px #6bf878;
  background: #f4fff5;
}

.brands .b-3 {
  border: solid 1px #5e96f8;
  background: #f4f8ff;
}

.brands .b-4 {
  border: solid 1px #f192fa;
  background: #fef4ff;
}

.products {
  margin-top: 250px;
}

@media screen and (max-width: 620px) {
  .products {
    margin-top: 80px;
  }
}

.products h1 {
  font-size: 60px;
  color: #590700;
  margin-bottom: 40px;
}

@media screen and (max-width: 620px) {
  .products h1 {
    font-size: 40px;
  }
}

.products p {
  font-family: SoraM;
  margin-bottom: 30px;
}

.top-products {
  background: #faf5f0;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 90px;
}

.top-products h1 {
  font-size: 60px;
  color: #141212;
  margin-bottom: 70px;
}

@media screen and (max-width: 620px) {
  .top-products h1 {
    font-size: 30px;
  }
}

.mission-div {
  padding: 100px 50px;
  height: 458px;
  background: url("../../assets/images/mission-bg.png");
  background-size: cover;
  margin-bottom: 80px;
  margin-top: 60px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 40px;
  color: #fff;
}

@media screen and (max-width: 620px) {
  .mission-div {
    padding: 30px 10px;
    height: 258px;
    margin-top: 80px;
  }
}

.mission-div p {
  font-size: 36px;
  margin-top: 40px;
  font-family: SoraB;
}

@media screen and (max-width: 620px) {
  .mission-div p {
    font-size: 18px;
  }
}

.get-started-div {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#fff5f4), to(#ffffff00)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #fff5f4 0%, #ffffff00 100%) 0% 0% no-repeat padding-box;
  height: 1149px;
  padding-top: 70px;
}

@media screen and (max-width: 620px) {
  .get-started-div {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 50px;
  }
}

.get-started-div h1 {
  font-size: 60px;
  margin-bottom: 50px;
}

@media screen and (max-width: 620px) {
  .get-started-div h1 {
    font-size: 30px;
  }
}

.get-started-div button {
  margin-bottom: 50px;
}

.prefooter-div {
  height: 304px;
  border-radius: 20px;
  background: url("../../assets/images/prefooter-bg.png");
  background-size: cover;
  background-position: center;
  margin-top: 100px;
  padding-top: 100px;
  position: relative;
  z-index: 4;
}

.prefooter-div p {
  font-family: SoraR;
}
/*# sourceMappingURL=home.css.map */