.policy-nav {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 3px #0000000f;
}
.policy-heading {
  h1 {
    font-size: 70px;
  }
  p {
    font-family: SoraR;
    margin-top: 30px;
  }
}
