.policy-nav {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 3px #0000000f;
}
.policy-heading {
  margin-top: 150px;
  h1 {
    font-size: 70px;
  }
  p {
    font-family: SoraR;
    margin-top: 30px;
  }
}
.policies {
  p {
    font-family: SoraR;
    margin-top: 20px;
    text-align: justify;
    color: #524a4a;
  }
  h5 {
    font-family: SoraSB;
    margin-top: 30px;
  }
}
.policy-info {
  background: #fff5f4 0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding: 25px;
  font-family: SoraSB;
  span {
    font-family: SoraB;
    font-size: 18px;
  }
}
