@import "../../../variables";
@import "../../../shared-styles";

.canvas-trigger {
  cursor: pointer;
}

.menu-offcanvas {
  .offcanvas {
    height: 80% !important;
  }
  .offcanvas-body {
    @media screen and (max-width: 620px) {
      padding: 10px 0;
    }
  }
}
