@import "../../../variables";
@import "../../../shared-styles";

.canvas-trigger {
  cursor: pointer;
}

// .menu-offcanvas {
.offcanvas {
  // height: 50% !important;
}
.offcanvas-body {
  @media screen and (max-width: 620px) {
    padding: 10px 0;
  }
}
// }

.nav-tab {
  margin-top: 30px;
  /* Style the buttons that are used to open the tab content */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 25px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    font-family: SoraM;
    border-right: solid 1px rgb(159, 157, 157);
    @media screen and (max-width: 620px) {
      font-size: 20px;
      // padding: 25px 10px;
    }
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    color: red;
  }

  /* Create an active/current "tab button" class */
  .tab button.active2 {
    color: red;
  }

  .tabcontent {
    float: left;
    // padding: 0px 40px;

    width: 70%;
    border-left: none;
    height: 300px;
    display: none;
    @media screen and (max-width: 620px) {
      width: 100%;
      // line-height: 30px;
    }
    a {
      color: black;
      text-decoration: none;
      font-size: 18px;
      line-height: 60px;
      @media screen and (max-width: 620px) {
        font-size: 15px;
        // line-height: 30px;
      }
    }
  }

  .tabcontent.active2 {
    display: block;
  }
}

.menu-navs {
  padding: 10px 10px;
  font-size: 14px;
  border-radius: 5px;
  margin: 40px 0 40px 10px;
  text-decoration: none;
  color: #000;

  &:hover {
    background: green;
    color: #fff !important;
  }
}
.hide {
  display: none !important;
}
.menu-holder {
  @media screen and (max-width: 620px) {
    position: relative;
    z-index: 6;
    @media screen and (max-width: 620px) {
      margin-top: 20px;
    }
  }
}
.subs {
  .active {
    background: green;
    color: #fff !important;
  }
}
