.product-request-div {
  .request-div {
    height: 790px;
    background: var(--white) 0% 0% no-repeat padding-box;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #d8d4d4;
    border-radius: 10px;
    padding: 20px;
  }
}
.requests-component {
  margin-top: 20px;
  p {
    font-family: Sora;
  }
}
