.product-request-div {
  .request-div {
    height: 790px;
    background: var(--white) 0% 0% no-repeat padding-box;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #d8d4d4;
    border-radius: 10px;
    padding: 20px;
  }
}
.requests-component {
  margin-top: 20px;
  p {
    font-family: SoraM;
    padding-left: 20px;
  }
  button {
    font-size: 12px;
    font-family: SoraR;
    border-radius: 70px;
    padding: 3px 18px;
    border: none;
  }
  .pending {
    background-color: #fcf9ea;
    color: #d8910b;
  }
  .cancelled {
    background-color: #fcf9ea;
    color: #ff3c2b;
  }
}
