.testimonial-div {
  background: #81111139;
  height: 615px;
  padding-top: 50px;
  h1 {
    color: #590700;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  h6 {
    font-size: 20px;
    font-family: SoraSB;
    color: #141212;
  }
  p {
    font-size: 16px;
    color: #6b6060;
    font-family: SoraSR;
  }
}
