.dash-top {
  background: #ffffff 0% 0% no-repeat padding-box;
  height: 74px;
  padding-top: 15px;
  border-bottom: #f7f5f5;
  .dash-btns {
    background: #f7f5f5;
    border-radius: 40px;
    width: 194px;
    padding: 10px;
    height: 48px;
    button {
      border: none;
      border-radius: 40px;
      padding: 0px 20px;
      font-size: 14px;
      margin: 0 10px;
      font-family: SoraR;
    }
  }
  .dropbtn {
    background: #fff;
    border: none;
    font-size: 14px;
    font-family: SoraM;
    margin-top: 15px;
    margin-right: 15px;
    color: #141212;
  }

  .drobdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    background: #f1f1f1;
    min-width: 160px;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }

  .dropdown-content a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 17px;
    font-size: 18px;
  }

  .dropdown-content a:hover {
    background: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  select {
    border: solid 1px #cccbcb;
    border-radius: 20px;
    width: 129px;
    height: 39px;
    font-family: SoraM;
    font-size: 14px;
    padding-left: 40px;
  }
}
