.deals-div {
  height: 294px;
  padding: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000001c;
  border-radius: 8px;
  h6 {
    font-family: SoraSB;
    font-size: 15px;
  }
}
