.favourites-page {
  background: #fff;

  h2 {
    font-family: SoraSB;
    font-size: 16px;
  }

  .tabs {
    display: flex;
    width: 20%;
    background: #f7f5f5;
    border-radius: 40px;
    padding: 5px;
    height: fit-content;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 620px) {
    .tabs {
      flex-direction: column-reverse;
    }
  }
  .tab {
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    width: 100%;
    background: #f7f5f5;
    padding: 5px 0;
    border: none;
    color: #141212;
    font-size: 14px;

    font-family: SoraM;
  }

  .tab.active2 {
    background: #ff3c2b;
    font-weight: bold;
    font-family: SoraM;

    color: #fff;
  }
  .panel {
    display: none;
    background: #fff !important;
    padding: 20px 20px 20px 20px;
    color: #000;
    border: solid 1px #e8e5e5;
    border-radius: 10px;
  }
  @media screen and (max-width: 620px) {
    .panel {
      padding: 0px;
    }
    .panels {
      width: 100%;
    }
  }
  .panel.active2 {
    display: block;
  }
}

.favourites-component {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d2cdcd;
  border-radius: 8px;
  padding: 10px 20px;
  height: 152px;
  margin-top: 30px;
  &:hover {
    border: 1px solid #ff3c2b;
  }
  button {
    background: #fff;
    width: 144px;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid #141212;
    border-radius: 40px;
    font-family: SoraM;
    font-size: 13px;
  }
  .colm3 {
    border-left: solid 1px rgb(236, 233, 233);
  }
  p {
    font-family: SoraR;
    font-size: 14px;
  }
  h1 {
    font-size: 30px;
    font-family: SoraSB;
  }
}

.favourites-component {
  .carousel-control-next-icon {
    background-image: url("../../assets/images/next.png");
    height: 25px;
    width: 25px;
    margin-top: -30% !important;
    margin-left: -310px !important;
    border-radius: 100%;
    box-shadow: 0 0 4px 4px rgb(180, 178, 178);
    display: none;
    @media screen and (max-width: 620px) {
      display: none;
    }
  }
  .carousel-control-prev-icon {
    height: 25px;
    width: 25px;
    background-image: url("../../assets/images/prev.png");
    margin-top: -30% !important;
    margin-left: -50px !important;
    border-radius: 100%;
    box-shadow: 0 0 4px 4px rgb(180, 178, 178);
    display: none;
    @media screen and (max-width: 620px) {
      display: none;
    }
  }
  .caru-body {
    &:hover {
      .carousel-control-prev-icon {
        display: block;
      }
      .carousel-control-next-icon {
        display: block;
      }
    }
  }
  .carousel-indicators button {
    display: none;
  }
  .carousel-indicators {
    margin-left: 1000px !important;

    @media screen and (max-width: 620px) {
      margin: 0 !important;
    }
  }
}
