.dashboard-nav {
  //   padding: 40px;
  border-right: solid 1px grey;
  a {
    color: #707070;
    text-decoration: none;
    padding-top: 50px;
    font-family: SoraM;
    font-size: 14px;
    // line-height: 30px;
  }
  ul li {
    padding: 10px;
  }
}
