.dashboard-nav {
  //   padding-left: 40px;
  border-right: solid 1px grey;
  a {
    color: #707070;
    text-decoration: none;
    padding-top: 50px;
    font-family: SoraM;
    font-size: 14px;
    // line-height: 30px;
    img {
      margin-right: 10px;
    }
  }
  .active {
    background: red;
    border-radius: 10px;
    color: #fff;
    padding: 10px 10px;
  }
  li {
    width: fit-content;
    margin-top: 40px;
  }
}
