.dashboard-nav {
  //   padding-left: 40px;
  border-right: solid 1px #f7f5f5;
  .dash-logo {
    height: 74px;
    border-bottom: solid 1px #f7f5f5;
  }
  a {
    color: #707070;
    text-decoration: none;
    padding-top: 50px;
    font-family: SoraM;
    font-size: 14px;
    // line-height: 30px;
    img {
      margin-right: 10px;
    }
  }
  .active {
    background: red;
    border-radius: 10px;
    color: #fff;
    padding: 10px 10px;
  }
  li {
    width: fit-content;
    margin-top: 40px;
  }
}
.seller-div {
  height: 300px;
  background: #141212;
  border: 1px solid #707070;
  border-radius: 10px;
  padding: 20px 40px;
  margin-top: 280px;
  color: #fff;
  text-align: center;
  button {
    background: #fff;
    border: solid 1px #ff3c2b;
    font-size: 14px;
    border-radius: 40px;
    padding: 5px 20px;
    font-family: SoraM;
    color: #ff3c2b;
    margin-top: 30px;
    &:hover {
      background: #ff3c2b;
      color: #fff;
    }
  }
}
