.dashboard-nav {
  //   padding-left: 40px;
  border-right: solid 1px grey;
  a {
    color: #707070;
    text-decoration: none;
    padding-top: 50px;
    font-family: SoraM;
    font-size: 14px;
    // line-height: 30px;
  }
  .active {
    background: red;
    border-radius: 10px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  li {
    margin-top: 20px;
  }
}
