.onboarding-bg {
  background: #514f4f;
  padding-top: 300px;
  padding-bottom: 300px;

  .welcome-card {
    text-align: left;
  }
  .welcome-card-inner {
    background: #ff3c2b;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
