.onboarding-bg {
  background: #514f4f;
  padding-top: 150px;
  padding-bottom: 300px;

  .welcome-card {
    text-align: left;
    border-radius: 20px;
    background: #fff;
    padding-top: 0px;
    padding-bottom: 30px;
  }
  .welcome-card-inner {
    background: #ff3c2b;
    padding-top: 30px;
    border-radius: 20px;
    a {
      color: #fff;
      font-family: SoraR;
      text-decoration: none;
    }
    img {
      margin-top: 30px;
    }
  }
  .welcome-card-inner2 {
    background: #f29360;
    padding-top: 30px;
    border-radius: 20px;
    a {
      color: #fff;
      font-family: SoraR;
      text-decoration: none;
    }
    img {
      margin-top: 30px;
    }
  }
  .welcome-card-footer {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    h5 {
      color: #590700;
      font-size: 26px;
    }
    p {
      font-family: SoraR;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .active-dot {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background: #ff3c2b;
      margin-right: 4px;
    }
    .dots {
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background: #fce1df;
      color: #fce1df;
      margin-right: 4px;
    }
    .prev-btn {
      border: 1px solid #141212;
      border-radius: 40px;
      padding: 7px 20px;
      background: #fff;
      font-family: SoraM;
      font-size: 14px;
      margin-right: 10px;
    }
  }
}
