.onboarding-bg {
  background: #514f4f;
  padding-top: 300px;
  padding-bottom: 300px;

  .welcome-card {
    text-align: left;
    border-radius: 20px;
    background: #fff;
    padding-top: 0px;
    padding-bottom: 30px;
  }
  .welcome-card-inner {
    background: #ff3c2b;
    padding-top: 40px;
    border-radius: 20px;
  }
  .welcome-card-footer {
  }
}
