.search-nav {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 3px #0000000f;
}
.holder {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 50px;
  @media screen and (max-width: 620px) {
    display: none;
  }
}
.holder2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 14px;
  grid-row-gap: 21px;
  @media screen and (min-width: 620px) {
    display: none;
  }
}
