.search-nav {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 3px #0000000f;
}
.holder {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 50px;
  @media screen and (max-width: 620px) {
    display: none;
  }
}
.holder2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 14px;
  grid-row-gap: 21px;
  @media screen and (min-width: 620px) {
    display: none;
  }
}
.main-holder {
  // display: flex;
  // width: 100%;
}
.products-component {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d2cdcd;
  border-radius: 8px;
  padding: 20px;
  margin-top: 30px;

  .com1 {
    height: 201px;
    background: red;
    border-radius: 8px;
    margin: 2px;
  }
  .com2 {
    height: 201px;
    background: blue;
    border-radius: 8px;
    margin: 2px;
  }
  .com3 {
    height: 201px;
    background: green;
    border-radius: 8px;
    margin: 2px;
  }
}
.trigger-button {
  position: fixed;
  right: 30px;
}

.trigger-button i {
  font-size: 2em;
}
.filter-offcanvas {
  .offcanvas {
    height: 100% !important;
  }
}
.filter-btns {
  border: 1px solid #d2cdcd;
  border-radius: 30px;
  background: #fff;
  padding: 7px 20px;
  font-family: SoraM;
  font-size: 14px;
  img {
    margin-right: 10px;
  }
}
.filter-btns2 {
  border: 1px solid #d2cdcd;
  border-radius: 30px;
  background: #fff;
  padding: 0px 20px;
  font-family: SoraM;
  font-size: 14px;
}
.list-view {
  display: flex;
  flex-direction: column;
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.list-item,
.grid-item {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
