.search-nav {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 3px #0000000f;
}
.holder {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 50px;
  @media screen and (max-width: 620px) {
    display: none;
  }
}
.holder2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 14px;
  grid-row-gap: 21px;
  @media screen and (min-width: 620px) {
    display: none;
  }
}
.main-holder {
  // display: flex;
  // width: 100%;
}
.products-component {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d2cdcd;
  border-radius: 8px;
  padding: 20px;
  height: 252px;
  margin-top: 30px;
  button {
    background: #fff;
    width: 144px;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid #141212;
    border-radius: 40px;
    font-family: SoraM;
    font-size: 13px;
  }
  .colm3 {
    border-left: solid 1px rgb(236, 233, 233);
  }
  p {
    font-family: SoraR;
    font-size: 14px;
  }
  h1 {
    font-size: 30px;
    font-family: SoraSB;
  }
}
.trigger-button {
  position: fixed;
  right: 30px;
}

.trigger-button i {
  font-size: 2em;
}
.filter-offcanvas {
  .offcanvas {
    height: 100% !important;
  }
}
.filter-btns {
  border: 1px solid #d2cdcd;
  border-radius: 30px;
  background: #fff;
  padding: 7px 20px;
  font-family: SoraM;
  font-size: 14px;
  img {
    margin-right: 10px;
  }
}
.filter-btns2 {
  border: 1px solid #d2cdcd;
  border-radius: 30px;
  background: #fff;
  padding: 0px 20px;
  font-family: SoraM;
  font-size: 14px;
}
.list-view {
  display: flex;
  flex-direction: column;
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  button {
    width: 80px;
    height: 22px;
    font-size: 8px;
    margin-left: 5px;
  }
}

.list-item,
.grid-item {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
