@import "../../../variables";
@import "../../../shared-styles";

.dashboard-accordion-container {
  margin-bottom: 50px;
  margin-top: 150px;
  .accordion-body {
    ul li {
      margin-top: 20px;
      font-family: rebondG-Semi-Bold;
      font-size: 16px;
      color: #161617;
    }
    ul img {
      margin-right: 10px;
    }
    .accord-get-started {
      background: red;
      margin-top: 20px;
      border: solid 1px#414244;

      &:hover {
        background: #2c0b6b;
        transition: 0.5s ease;
      }
    }
  }
  .accordion {
    margin-top: 30px;
  }
  .accordion-button:not(.collapsed) {
    background: #fff !important;
  }
  .accordion-item {
    border: none !important;
  }

  .accordion-button:focus {
    border-color: #fff !important;
    outline: none !important;
    box-shadow: none !important;
    // border-top: solid 2px rgb(155, 154, 154) !important;
  }
  .accordion-button {
    margin-top: 0px;
    border-bottom: solid 2px #e7e7e7;
    padding-top: 30px !important;
    padding-bottom: 10px !important;
    padding-left: 30px !important;
    border-radius: none !important;
  }
  .accordion-button::after {
    // background-image: url("../../../assets/images/add-circle.svg") !important;
    content: "" !important;
    background-position: center;
    background-size: 100%;
    height: 30px;
    width: 30px;
  }
  .accordion-button:not(.collapsed)::after {
    // background-image: url("../../../assets/images/sub-circle.svg") !important;

    content: "" !important;
  }
  .accordion-button:not(.collapsed) {
    color: #161617 !important;
    box-shadow: none !important;
    border: none !important;
    // border-top: solid 2px rgb(155, 154, 154) !important;
  }
  .accordion-header {
    h3 {
      // font-size:16px;
      color: #161617;
      font-family: recoAltMedium;
    }
  }
  .accordion-item:first-of-type .accordion-button {
    border-radius: 0 !important;
  }
}
.image-controls {
  background: red;
  margin-top: 40px;
  cursor: pointer;
}
.dashboard-display {
  height: 500px;
}
