.top-categories-div .deal-p {
  font-family: SoraR;
  margin-left: 10px;
}

.top-categories-div .parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 50px;
}

@media screen and (max-width: 620px) {
  .top-categories-div .parent {
    display: none;
  }
}

.top-categories-div .parent2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 14px;
  grid-row-gap: 21px;
}

@media screen and (min-width: 620px) {
  .top-categories-div .parent2 {
    display: none;
  }
}

.discount-div {
  height: 606px;
  background: #1ccab8 0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding: 40px 0px;
}

.discount-div h3 {
  margin-bottom: 30px;
}

.discount-div .half {
  height: 20px;
  width: 20px;
  background: #1ccab8 0% 0% no-repeat padding-box;
  border-radius: 50%;
}

.discount-div .half-position {
  margin-top: 45%;
}

.discount-div .half-position2 {
  margin-top: 29%;
}

.discount-div .half1 {
  position: relative;
  z-index: 1;
  margin-right: -10px;
}

.discount-div .half2 {
  margin-left: -10px;
}

.discount-div .discount-inner {
  height: 210px;
  padding: 15px 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.discount-div .discount-inner hr {
  border: 1px dashed grey;
}

.discount-div .discount-inner h1 {
  font-size: 50px;
  margin-bottom: 0;
}

.discount-div .discount-inner h1 sub {
  font-size: 14px;
  margin-left: -20px;
}

.discount-div .discount-inner h1 sup {
  font-size: 30px;
}

.discount-div .discount-inner p {
  font-size: 14px;
  font-family: SoraM;
  margin-bottom: 5px;
}

.discount-div .discount-inner small {
  color: #6b6060;
  font-size: 14px;
  font-family: SoraR;
}

.discount-div .discount-inner .code-btn {
  height: 23px;
  width: 94px;
  background: #fdda7a 0% 0% no-repeat padding-box;
  border-radius: 20px;
  font-size: 14px;
  font-family: SoraM;
  margin-left: 7px;
  border: none;
}

.weekly-deals {
  height: 606px;
  background: transparent radial-gradient(closest-side at 50% 50%, #fff0f0 0%, #fdf2f0 65%, #faf5f1 100%) 0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding: 30px 20px;
}

@media screen and (max-width: 620px) {
  .weekly-deals {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.wkd {
  padding-left: 20px;
}

@media screen and (max-width: 620px) {
  .wkd {
    padding-left: 0px;
    margin-top: 50px;
  }
}

.budget-div {
  height: 1894px;
  background: #e9e6e658;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 70px;
}

@media screen and (max-width: 620px) {
  .budget-div {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.budget-div button {
  margin-top: 80px;
  border: solid 1px #ff3c2b;
  border-radius: 40px;
  color: #ff3c2b;
  font-family: SoraM;
  font-size: 14px;
  padding: 10px 30px;
}

.budget-div button:hover {
  color: #fff;
  background: #ff3c2b;
}

.all-supplies-link {
  color: #524a4a;
  text-decoration: none;
  font-family: SoraM;
  font-size: 14px;
}

.all-supplies-link:hover {
  text-decoration: underline;
}

.bck-link {
  margin-bottom: 30px;
}

.bck-link a {
  color: #141212;
  font-size: 14px;
  font-family: SoraR;
  text-decoration: none;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
  width: 78px;
  height: 34px;
  text-align: center;
  padding-top: 5px;
  margin-right: 20px;
}

.bck-link p {
  font-size: 14px;
  font-family: SoraM;
  margin-left: 15px;
  margin-top: 5px;
}

.filter-btns button {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-family: SoraR;
  font-size: 14px;
  margin: 0 5px;
  padding: 5px 13px;
}

@media screen and (max-width: 620px) {
  .filter-btns button {
    font-size: 12px;
    padding: 5px 8px;
    margin-top: 30px;
  }
}

.filter-btns button:hover {
  border: solid 1px #ff3c2b;
}

.sub-cat .more-btn {
  margin-top: 80px;
  border: solid 1px #ff3c2b;
  border-radius: 40px;
  color: #ff3c2b;
  font-family: SoraM;
  font-size: 14px;
  padding: 10px 30px;
}

.sub-cat .more-btn:hover {
  color: #fff;
  background: #ff3c2b;
}

.filtered-products {
  padding-left: 30px;
}

@media screen and (max-width: 620px) {
  .filtered-products {
    padding-left: 0;
  }
}
/*# sourceMappingURL=browse-supplies.css.map */