.nav-displayer2 {
  background: #141212;
}
.about-banner {
  background: #141212;
  padding-top: 50px;
  padding-bottom: 100px;
  .video-div {
    // height: 578px;
    border-radius: 20px;
  }
  p {
    color: #fff;
    font-size: 40px;
    text-align: center;
    font-family: SoraSB;
    margin-top: 150px;
  }
}
.overlay3 {
  position: absolute;
  bottom: 0;
  background: transparent linear-gradient(255deg, #ffffff00 0%, #000000d3 100%)
    0% 0% no-repeat; /* Black see-through */
  color: #f1f1f1;
  //   width: 100%;
  opacity: 1;
  color: white;
  top: 15%;
  // padding-top: 10px;
  text-align: center;
  border-radius: 20px;
  height: 78%;

  p {
    text-align: center;
  }
  @media screen and (max-width: 620px) {
    height: 650px;
    transform: translateX(0%) translateY(0%);
    top: 0;
  }
  h1 {
    font-size: 70px;
    line-height: 80px;
    @media screen and (max-width: 620px) {
      font-size: 30px;
      line-height: 40px;
    }
  }
}
.vid-3 {
  border-radius: 40px;
}
