.nav-displayer2 {
  background: #000;
}
.about-banner {
  background: #000;
  padding-top: 100px;
  padding-bottom: 100px;
  .video-div {
    height: 578px;
    border-radius: 20px;
    background: grey;
  }
}
.overlay {
  position: absolute;
  bottom: 0;
  background: transparent linear-gradient(255deg, #ffffff00 0%, #000000d3 100%)
    0% 0% no-repeat; /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  opacity: 1;
  color: white;
  top: 0;
  padding-top: 10px;
  height: 112%;
  @media screen and (max-width: 620px) {
    height: 650px;
    transform: translateX(0%) translateY(0%);
    top: 0;
  }
  h1 {
    font-size: 60px;
    line-height: 80px;
    @media screen and (max-width: 620px) {
      font-size: 30px;
      line-height: 40px;
    }
  }
  input {
    border-radius: 50px;
    height: 72px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #00000014;
    border: 1px solid #bfbfbf;
    width: 100%;
    padding-left: 80px;
    font-family: SoraR;
    padding-top: 30px;
    padding-bottom: 30px;
    @media screen and (max-width: 620px) {
      font-size: 10px;
      padding-left: 30px;
      padding-right: 0px !important;
      height: 45px;
    }
  }
}
