.nav-displayer2 {
  background: #000;
}
.about-banner {
  background: #000;
  padding-top: 100px;
  padding-bottom: 100px;
  .video-div {
    height: 578px;
    border-radius: 20px;
    background: grey;
  }
}
.overlay3 {
  position: absolute;
  bottom: 0;
  background: transparent linear-gradient(255deg, #ffffff00 0%, #000000d3 100%)
    0% 0% no-repeat; /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  opacity: 1;
  color: white;
  top: 0;
  padding-top: 10px;
  height: 112%;
  @media screen and (max-width: 620px) {
    height: 650px;
    transform: translateX(0%) translateY(0%);
    top: 0;
  }
  h1 {
    font-size: 60px;
    line-height: 80px;
    @media screen and (max-width: 620px) {
      font-size: 30px;
      line-height: 40px;
    }
  }
}
