.form-bg {
  background: url("../../assets/images/form-bg.png");
  height: 991px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  padding-top: 130px;
  h5 {
    font-size: 20px;
    margin-left: 20px;
  }
  p {
    font-size: 14px;
  }
}
.form-container {
  padding: 30px;
  a {
    color: #000;
    text-decoration: none;
    font-family: SoraM;
    &:hover {
      text-decoration: underline;
    }
    img {
      margin-right: 10px;
    }
  }
  small {
    color: #b1a8a8;
    font-size: 14px;

    font-family: SoraR;
  }
  h1 {
  }
  .form {
    width: 100%;
    position: relative;
    height: fit-content;
    overflow: hidden;
  }

  .form input {
    width: 100%;
    height: 100%;
    color: #191919;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-radius: 10px;
    height: 40px;
    margin-top: 20px;
    border: solid 1px #e7e7e7;
    background: #fff;
    font-family: rebondG-Semi-Bold;
  }
  .form label {
    position: absolute;
    bottom: 4px;
    left: 20px;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: rebondG;
    color: #161617;
    pointer-events: none;
  }
  .form label::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }

  .content-name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-bottom: 5px;
    transition: all 0.3s ease;
  }
  .form input:focus {
    outline: none;
  }
  .form input:focus + .label-name .content-name,
  .form input:valid + .label-name .content-name {
    transform: translateY(-100%);
    font-size: 8px;
    left: 0px;
    color: black;
  }
  .form input:focus + .label-name::after,
  .form input:valid + .label-name::after {
    transform: translateX(0%);
  }
}
