.form-bg {
  background: url("../../assets/images/form-bg.png");
  height: 991px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  padding-top: 100px;
  h5 {
    font-size: 20px;
  }
}
