.order-details-div {
  p {
    font-family: SoraR;
    span {
      color: #707070;
    }
  }
  button {
    border: 1px solid #b9b6b6;
    border-radius: 40px;
    padding: 5px 30px;
    font-family: SoraM;
  }
}
