.order-details-div {
  textarea {
    width: 100%;
    min-height: 158px;
    padding: 30px;

    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e5e3e3;
    border-radius: 10px;
  }
}
