.order-details-div {
  textarea {
    width: 100%;
    min-height: 210px;
    padding: 30px;
    font-size: 12px;
    color: #707070;
    font-family: SoraR;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e5e3e3;
    border-radius: 10px;
  }
}
