.products-div {
  background: #fff;
  height: 370px;
  border-radius: 8px;
  padding: 15px;
  h5 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  small {
    font-size: 9px;
    color: #847777;
    font-family: SoraR;
  }
  h6 {
    font-size: 10px;
  }
  .rating {
    margin-top: 10px;
    margin-left: 5px;
  }
}
