.products-div {
  background: #fff;
  height: 370px;
  border-radius: 8px;
  padding: 15px;
  .name {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  small {
    font-size: 9px;
    color: #847777;
    font-family: SoraR;
    margin-top: 5px;
  }
  h6 {
    font-size: 10px;
  }
  .rating {
    margin-top: 10px;
    margin-left: 5px;
  }
  .amount {
    margin-left: 5px;
    margin-bottom: 0;
  }
  .suppliers {
    text-decoration: underline;
  }
}
.all-products-btn {
  margin-top: 40px;
}
.arrivals-div {
  height: 506px;
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  .arrivals1 {
    background: pink;
    border-radius: 8px;
  }
  .arrivals2 {
    background: blue;
    border-radius: 8px;
    height: 150px;
  }
  .arrivals3 {
    background: green;
    border-radius: 8px;
  }
}
