.products-div {
  background: #fff;
  height: 370px;
  border-radius: 8px;
  padding: 15px;
  .name {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  small {
    font-size: 9px;
    color: #847777;
    font-family: SoraR;
    margin-top: 5px;
  }
  h6 {
    font-size: 10px;
  }
  .rating {
    margin-top: 10px;
    margin-left: 5px;
  }
  .amount {
    margin-left: 5px;
    margin-bottom: 0;
  }
  .suppliers {
    text-decoration: underline;
  }
}
.all-products-btn {
  margin-top: 40px;
}
.arrivals-div {
  height: fit-content;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 15px;
}
