.products-div {
  background: #fff;
  height: 370px;
  border-radius: 8px;
  padding: 15px;
  .name {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  small {
    font-size: 9px;
    color: #847777;
    font-family: SoraR;
    margin-top: 5px;
  }
  h6 {
    font-size: 10px;
  }
  .rating {
    margin-top: 10px;
    margin-left: 5px;
  }
  .amount {
    margin-left: 5px;
    margin-bottom: 0;
  }
  .suppliers {
    text-decoration: underline;
  }
}
.all-products-btn {
  margin-top: 40px;
}
.arrivals-div {
  height: fit-content;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 15px;
}
.carousel-control-next-icon {
  background-image: url("../../../assets/images/next.png");
  height: 50px;
  width: 50px;
  margin-top: -390% !important;
  margin-right: -180px !important;
  border-radius: 100%;
  box-shadow: 0 0 4px 4px rgb(180, 178, 178);
}
.carousel-control-prev-icon {
  height: 50px;
  width: 50px;
  background-image: url("../../../assets/images/prev.png");
  margin-top: -390% !important;
  margin-left: -180px !important;
  border-radius: 100%;
  box-shadow: 0 0 4px 4px rgb(180, 178, 178);
}
.carousel-indicators button {
  background: red !important;
  border: solid 1px #707070 !important;
  border-radius: 50% !important;
  height: 7px !important;
  width: 7px !important;
  margin-top: -630px !important;
}
.carousel-indicators {
  margin-right: -700px !important;
}
