.data-count {
  height: 232px;
  border: 1px solid #d8d4d4;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  //   width: 95%;
  .counters {
    h5 {
      margin-bottom: 40px;
    }
    h1 {
      font-size: 66px;
    }
  }
  .first {
    border-right: solid 1px #c4c2c2;
  }
}
.profile-details {
  border-radius: 10px;
  background: #ed593f;
  height: 232px;
  color: #fff;
  padding: 30px;
  a {
    color: #fff;
    text-decoration: none;
    font-family: SoraR;
    font-size: 14px;
    &:hover {
      text-decoration: underline;
    }
  }
  small {
    font-size: 14px;

    font-family: SoraM;
  }
}
.market-trends {
  background: transparent
    radial-gradient(closest-side at 50% 50%, #faecea 0%, #fffbf4 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 10px;
}
