.data-count {
  height: 232px;
  border: 1px solid #d8d4d4;
  border-radius: 10px;
  padding-top: 50px;
  //   width: 95%;
  .counters {
    h5 {
      margin-bottom: 20px;
    }
    h1 {
      font-size: 66px;
    }
  }
}
.profile-details {
  border-radius: 10px;
  background: #ed593f;
  height: 232px;
}
