.data-count {
  height: 232px;
  border: 1px solid #d8d4d4;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  //   width: 95%;
  .counters {
    h5 {
      margin-bottom: 40px;
    }
    h1 {
      font-size: 66px;
    }
  }
  .first {
    border-right: solid 1px #c4c2c2;
  }
}
.profile-details {
  border-radius: 10px;
  background: #ed593f;
  height: 232px;
  color: #fff;
  padding: 30px;
  a {
    color: #fff;
    text-decoration: none;
    font-family: SoraR;
  }
  small {
    font-size: 14px;
    margin-bottom: 30px;
    font-family: SoraM;
  }
}
