.messages-body {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d8d4d4;
  border-radius: 10px;
  height: 786px;
  padding: 20px;
}
.chats {
  //   padding-left: 20px;
  &:hover {
    background: #fafafa;
  }
  small {
    margin-left: 20px;
  }
  p {
    font-size: 16px !important;
    font-family: SoraM;
    sup {
      background: #ff3c2b;
      color: #fff;
      font-size: 10px;
      height: 6px;
      width: 26px !;
      border-radius: 100%;
    }
  }
}
