.messages-body {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d8d4d4;
  border-radius: 10px;
  height: 786px;
}
.chats {
  //   padding-left: 20px;
  &:hover {
    background: #fafafa;
  }
}
