.overview-body {
  p {
    font-family: SoraR;
    color: #6b6060;
  }
  background: #fcfcfc;
  .summary-div {
    background: #fff;
    border-radius: 10px;
    height: 138px;
    padding: 20px;
    h5 {
      font-size: 26px;
    }
  }
  .total-transaction {
  }
}
