.overview-body {
  p {
    font-family: SoraR;
    color: #6b6060;
  }
  background: #fcfcfc;
  .summary-div {
    background: #fff;
    border-radius: 10px;
    height: 138px;
    padding: 20px;
    h5 {
      font-size: 26px;
    }
  }
  .total-transaction {
    height: 399px;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #d8d4d4;
    border-radius: 10px;
    select {
      height: 25px;
      font-family: SoraR;
      font-size: 12px;
      border: none !important;
      background: #fff !important;
    }
    sup {
      color: #13b23e;
      img {
        transform: rotate(30deg);
      }
    }
    h6 {
      margin-top: 80px;
    }
    small {
      font-family: SoraR;
      font-size: 13px;
      color: #6b6060;
    }
  }
}
